/* style.css */

body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	display: block;
	margin: 8px;
	font-size: 14px;
}

header {
	background-color: #d5d5e6;
	padding: 10px;
	text-align: center;
	font-weight: bolder;
	font-size: 25px;
}

#alphaSection {
	display: inline-block;
	background-color: rgb(240, 243, 246);
	text-align: center;
	margin: 0 auto;
	width: 15%;
	vertical-align: top;
}

button#price {
	background-color: #1b9f54;
	color: white;
	font-weight: bolder;
	padding: 5px;
	margin: 2px 0;
	border: none;
	cursor: pointer;
	width: 75%;
}

button.collapsible {
	background-color: #150868c2;
	color: white;
	font-weight: bolder;
	text-align: center;
	margin: 3px 0 0 0;
	padding: 4px;
	border: none;
	cursor: pointer;
	width: 75%;
}

.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	width: 75%;
	border: none;
	text-align: right;
	outline: none;
	font-size: 15px;
}

.active,
.collapsible:hover {
	background-color: #d3d0f4;
}

.content {
	width: 72%;
	margin: 0 0 0 33px;
	padding: 2px;
	text-align: left;
	display: none;
	border: 2px solid #4d4d4d;
}

container#container {
	display: inline-block;
	background-color: #f0f0f3;
	margin: 10px;
	padding: 10px;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	border: 1px solid #ddd;
	padding: 8px;
	color: white;
	text-align: left;
	background-color: #1b1258;
}

td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

tr:nth-child(odd) {
	background-color: #ffffff;
}

<<<<<<< HEAD
input#searchInput {
	width: 75%;
	padding: 12px 20px;
	margin: 8px 0;
	background-color: #fbeeee;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

label {
	font-weight: 80;
}

#inputSection {
	display: inline-block;
	background-color: white;
	color: rgba(234, 202, 202, 0.945);
	margin: 0 auto;
	padding: 10px;
	width: 40%;
	vertical-align: top;
	border: 5px solid #2611af;
}

#searchIcon {
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 3px 0 0 0;
	vertical-align: middle;
=======
input {
	display: inline-block;
	width: 70%;
}

img#logo {
	display: block;
	margin: 0 auto;
	max-width: 50%;
	height: auto;
}

label {
	display: block;
	font-weight: bolder;
	padding: 5px;
}

.fa-solid fa-magnifying-glass {
	color: #126c39;
	display: inline-block;
>>>>>>> e0f6438c4161b5ddd2818d70f4814ed9d636c5de
}
